{% extends "base_regular.html" %}
{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="graph embed-responsive embed-responsive-16by9">
                        <script src="https://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.js"></script>
                        <script src="http://ariutta.github.io/svg-pan-zoom/demo/hammer.js"></script>
                        {% if svg_url %}

                            <embed class="embed-responsive-item" type="image/svg+xml" src="{{ svg_url }}{% if picked %}?picked={{ picked }}{% endif %}" id="my-embed-svg"/>
                            <script>
                                var eventsHandler;

                                eventsHandler = {
                                    haltEventListeners: ['touchstart', 'touchend', 'touchmove', 'touchleave', 'touchcancel'],
                                    init: function (options) {
                                        var instance = options.instance,
                                            initialScale = 1,
                                            pannedX = 0,
                                            pannedY = 0

                                        // Init Hammer
                                        // Listen only for pointer and touch events
                                        this.hammer = Hammer(options.svgElement, {
                                            inputClass: Hammer.SUPPORT_POINTER_EVENTS ? Hammer.PointerEventInput : Hammer.TouchInput
                                        })

                                        // Enable pinch
                                        this.hammer.get('pinch').set({enable: true})

                                        // Handle pan
                                        this.hammer.on('panstart panmove', function (ev) {
                                            // On pan start reset panned variables
                                            if (ev.type === 'panstart') {
                                                pannedX = 0
                                                pannedY = 0
                                            }

                                            // Pan only the difference
                                            instance.panBy({x: ev.deltaX - pannedX, y: ev.deltaY - pannedY})
                                            pannedX = ev.deltaX
                                            pannedY = ev.deltaY
                                        })

                                        // Handle pinch
                                        this.hammer.on('pinchstart pinchmove', function (ev) {
                                            // On pinch start remember initial zoom
                                            if (ev.type === 'pinchstart') {
                                                initialScale = instance.getZoom()
                                                instance.zoom(initialScale * ev.scale)
                                            }

                                            instance.zoom(initialScale * ev.scale)

                                        })

                                        // Prevent moving the page on some devices when panning over SVG
                                        options.svgElement.addEventListener('touchmove', function (e) {
                                            e.preventDefault();
                                        });
                                    },
                                    destroy: function () {
                                        this.hammer.destroy()
                                    }
                                };

                                document.getElementById('my-embed-svg').addEventListener('load', function () {
                                    // Will get called after embed element was loaded
                                    svgPanZoom(
                                        document.getElementById('my-embed-svg'),
                                        {
                                            zoomEnabled: true,
                                            controlIconsEnabled: true,
                                            customEventsHandler: eventsHandler
                                        }
                                    );
                                })
                            </script>
                        {% endif %}
                    </div>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ subject_form|crispy }}
                        <button class="btn btn-outline-primary" type="submit">Применить фильтр</button>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h3>Список узлов</h3>
                            <div class="form-group">
                                <input class="form-control" placeholder="Фильтр по названию" id="node_query"
                                       type="text"/>
                            </div>
                            <p>
                                <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseNewNode"
                                   aria-expanded="true" aria-controls="collapseNewNode">
                                    Создать узел
                                </a>
                            </p>
                            <div class="collapse" id="collapseNewNode" aria-expanded="false" style="">
                                <div class="card card-outline-primary" style="width: 30rem;">
                                    <div class="card-block">
                                        <form method="post" action="{% url 'nodes:create_node' %}">
                                            {% csrf_token %}
                                            {{ node_form|crispy }}
                                            <button class="btn btn-outline-primary" type="submit">
                                                Создать узел
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <ul class="node_list list-group">
                                {% for node in node_list %}
                                    <li class="list-group-item">
                                        {{ node }}
                                        &nbsp;&nbsp;
                                        <a href="{% url 'admin:nodes_node_change' node.id %}" target="_blank">
                                            Ред.
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <script>
                                $('#node_query').keyup(function () {
                                    var valThis = this.value.toLowerCase(),
                                        length = this.value.length;

                                    $('.node_list>li').each(function () {
                                        var text = $(this).text(),
                                            textL = text.toLowerCase(),
                                            htmlR = '<b>' + text.substr(0, length) + '</b>' + text.substr(length);
                                        (textL.indexOf(valThis) != -1) ? $(this).show() : $(this).hide();
                                    });

                                });
                            </script>
                        </div>
                        <div class="col-6">
                            <h3>Список связей</h3>
                            <div class="form-group">
                                <input class="form-control" placeholder="Фильтр по названию" id="edge_query"
                                       type="text"/>
                            </div>
                            <p>
                                <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseNewEdge"
                                   aria-expanded="true" aria-controls="collapseNewEdge">
                                    Создать связь
                                </a>
                            </p>
                            <div class="collapse" id="collapseNewEdge" aria-expanded="false" style="">
                                <div class="card card-outline-primary" style="width: 30rem;">
                                    <div class="card-block">
                                        <form method="post" action="{% url 'nodes:create_edge' %}">
                                            {% csrf_token %}
                                            {{ edge_form.as_p }}
                                            {{ edge_form.media }}
                                            <button class="btn btn-outline-primary" type="submit">
                                                Создать связь
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <ul class="edge_list list-group">
                                {% for edge in edge_list %}
                                    <li class="list-group-item">
                                        {{ edge }}
                                        &nbsp;&nbsp;
                                        <a href="{% url 'admin:nodes_noderelation_change' edge.id %}" target="_blank">
                                            Ред.
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <script>
                                $('#edge_query').keyup(function () {
                                    var valThis = this.value.toLowerCase(),
                                        length = this.value.length;

                                    $('.edge_list>li').each(function () {
                                        var text = $(this).text(),
                                            textL = text.toLowerCase(),
                                            htmlR = '<b>' + text.substr(0, length) + '</b>' + text.substr(length);
                                        (textL.indexOf(valThis) != -1) ? $(this).show() : $(this).hide();
                                    });

                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block messages %}
{% endblock %}