# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
/env
.DS_Store
backups/
web/quantzone/blocks/__pycache__/
web/quantzone/blocks/migrations/
web/quantzone/courses/__pycache__/
web/quantzone/courses/migrations/
web/quantzone/db.sqlite3
web/quantzone/events/__pycache__/
web/quantzone/events/migrations/
web/quantzone/groups/__pycache__/
web/quantzone/groups/migrations/
web/quantzone/lms/__pycache__/
web/quantzone/lms/migrations/
web/quantzone/nodes/__pycache__/
web/quantzone/nodes/migrations/
web/quantzone/organizations/__pycache__/
web/quantzone/organizations/migrations/
web/quantzone/pages/__pycache__/
web/quantzone/places/__pycache__/
web/quantzone/places/migrations/
web/quantzone/quantzone/__pycache__/
web/quantzone/results/__pycache__/
web/quantzone/results/migrations/
web/quantzone/static/
web/quantzone/tasks/__pycache__/
web/quantzone/tasks/migrations/
web/quantzone/testing/__pycache__/
web/quantzone/testing/migrations/
web/quantzone/users/__pycache__/
web/quantzone/users/migrations/
web/quantzone/utils/__pycache__/
web/quantzone/utils/fields/__pycache__/
web/quantzone/utils/templatetags/__pycache__/
