<div class="form-group {% if field.errors %}has-danger{% endif %}">
    {% if not no_label %}
        <label class="form-control-label" for="{{ field.id_for_label }}">
            <small>
                {{ field.label }}
            </small>
        </label>
    {% endif %}
    <input id="{{ field.id_for_label }}"
           name="{{ field.html_name }}"
           class="form-control"
           placeholder="{{ placeholder }}"
           type="{{ input_type }}"
           value="{% if field.value %}{{ field.value }}{% endif %}">
    {% if field.errors %}
        <div class="form-control-feedback">
            {% for error in field.errors %}
                <p>{{ error|escape }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
</div>