{% extends 'base_landing.html' %}
{% load staticfiles %}

{% block content-fluid %}
    {#  FIXME:inline styles  #}
    <div class="jumbotron jumbotron-fluid" style="background: #eee url('/static/images/background-formulas.png'); background-size: cover;">
        <div class="container">
            <h1 class="display-3">Квант</h1>

            <p class="lead">- это экспериментальный учебный центр, где преподаватели готовят детей, используя последние информационные и педагогические технологии.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Изучаемые предметы</h2>
            </div>
        </div>
        <br>
        <div class="row">
            {% for subject in subjects %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="card">
                        <div class="card-block text-center">
                            <img src="{{ subject.image.url }}" width="100%"/>
                            <hr/>
                            <h5 class="hidden-md-down">{{ subject.title }}</h5>
                            <small class="hidden-lg-up">
                                <a class="hidden-lg-up" style="word-wrap: break-word;">{{ subject.title }}</a>
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                <br>
                <h2 class="page-header">Занятия проходят в центре города</h2>
                <br>
                <div class="hidden-sm-down">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=li9hKLknHCkYafq8i6gYEC1Wi8Dydd3e&amp;width=100%25&amp;height=396&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=false"></script>
                </div>
                <div class="hidden-md-up">
                    <a href="https://yandex.ru/maps/?um=constructor:li9hKLknHCkYafq8i6gYEC1Wi8Dydd3e&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=li9hKLknHCkYafq8i6gYEC1Wi8Dydd3e&amp;width=600&amp;height=350&amp;lang=ru_RU&amp;sourceType=constructor" alt="" style="border: 0;" /></a>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                <br>
                <h2 class="page-header">Наши преподаватели</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/teachers/harchenko.png' %}">
                    <div class="card-block">
                        <h4 class="card-title">Виталий Харченко</h4>
                        <h6 class="card-subtitle text-muted">Физика</h6>
                        <hr>
                        <p class="card-text">Репетиторский опыт – с 2011 года</p>
                        <p class="card-text">Абсолютный победитель всероссийской конференции "Шаг в будущее" 2009</p>
                        <p class="card-text">С 2014 года – преподаватель физики категории А в учебном центре Юниум</p>
                        <p class="card-text">С 2016 года – тренирую олимпиадников в СУНЦ УрФУ</p>
                        <p class="card-text">Умеет привить интерес к предмету, развить абстрактное техническое мышление, помочь в выборе ВУЗа и профессии.</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/teachers/paramonova.png' %}">
                    <div class="card-block">
                        <h4 class="card-title">Екатерина Парамонова</h4>
                        <h6 class="card-subtitle text-muted">Математика</h6>
                        <hr>
                        <p class="card-text">Лауреат премии губернатора Пермского края “За лучшие результаты ЕГЭ”</p>
                        <p class="card-text">Призёр олимпиад ПНИПУ и ИТМО по математике и информатике</p>
                        <p class="card-text">Награждена знаком “Отличник учёбы” УрФУ</p>
                        <p class="card-text">Может показать, что математика - не просто набор абстрактных символов, формул и алгоритмов, а красивая наука, которая учит мыслить логически.</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/teachers/pirozhok.png' %}">
                    <div class="card-block">
                        <h4 class="card-title">Екатерина Пирожок</h4>
                        <h6 class="card-subtitle text-muted">Русский язык</h6>
                        <hr>
                        <p class="card-text">Репетиторский опыт - с 2012 года</p>
                        <p class="card-text">С 2012 года - вожатая, затем воспитатель в Школе Успешного Абитуриента (профориентационный лагерь УрФУ)</p>
                        <p class="card-text">С 2013 года - преподаватель в одном из ведущих образовательных центров России</p>
                        <p class="card-text">Окончила филологический факультет УрФУ с красным дипломом</p>
                        <p class="card-text">С 2015 года - учитель филологии в СУНЦ УрФУ</p>
                        <p class="card-text">Практикует деятельностно-ориентированный подход к изучению русского языка, помогает развить межпредметные умения и критическое мышление и, конечно же, почувствовать любовь к великому и могучему!</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/teachers/novoselova.png' %}">
                    <div class="card-block">
                        <h4 class="card-title">Екатерина Новоселова</h4>
                        <h6 class="card-subtitle text-muted">Обществознание</h6>
                        <hr>
                        <p class="card-text">Репетиторский опыт - с 2012 года</p>
                        <p class="card-text">С 2013 года - преподаватель в лицее №110</p>
                        <p class="card-text">Окончила исторический факультет УрГПУ (специалист + магистратура), экономический факультет УрФУ</p>
                        <p class="card-text">Награждена благодарственными письмами за подготовку победителей олимпиад, творческих конкурсов  районного, городского уровня, грамотами за подготовку дипломантов финальных этапов Международных Олимпиад по основам наук (история, обществознание)</p>
                        <p class="card-text">Помогает понять, что история это не только скучные даты, но интересные события, люди, загадки.</p>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <br>
                <h2 class="page-header">Как мы работаем?</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="text-center">
                    <img src="{% static 'images/icons/landing/intense.png' %}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Интенсивность</h4>
                        <p class="card-text">Наши программы повышают эффективность обучения</p>
                        <br class="hidden-sm-up">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="text-center">
                    <img src="{% static 'images/icons/landing/cost.png' %}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Стоимость</h4>
                        <p class="card-text">Фиксированная ставка <br> 400 руб. в час</p>
                        <p class="card-text">На любой курс</p>
                        <br class="hidden-sm-up">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="text-center">
                    <img src="{% static 'images/icons/landing/interactivity.png' %}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Интерактивность</h4>
                        <p class="card-text">Поддерживаем обучение при помощи информационных технологий</p>
                        <br class="hidden-sm-up">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="text-center">
                    <img src="{% static 'images/icons/landing/chat.png' %}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Открытость</h4>
                        <p class="card-text">Всегда находимся в активном контакте как с учениками, так и с родителями</p>
                        <br class="hidden-sm-up">
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 class="h1 hidden-sm-down">Мы переворачиваем обучение!</h2>
                    <h2 class="h3 hidden-md-up">Мы переворачиваем обучение!</h2>
                    <p>Выберите интересующий курс и свяжитесь с нами</p>
                    <p class="display-2 hidden-md-down">+7 (343) 288 52 76</p>
                    <p class="display-4 hidden-lg-up hidden-sm-down">+7 (343) 288 52 76</p>
                    <p class="lead hidden-lg-up hidden-md-up">+7 (343) 288 52 76</p>
                </div>
            </div>
        </div>

        <br>
    </div>

{% endblock %}