{% extends "base_regular.html" %}
{% load globaltags %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="graph">
                        {% if s %}
                            <img src="{{ s }}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block messages %}
{% endblock %}
