{% extends "base_fluid.html" %}
{% load staticfiles %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Всем привет!</h1>

            {% if user.is_authenticated %}
                <div class="user-details">
                    You are logged in as <code>{{ user.username }}</code>!
                </div>
            {% else %}
                Please Login
            {% endif %}
        </div>
    </div>
{% endblock %}