{% extends "base_regular.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="modal-title">
                            Сброс пароля
                        </h4>
                    </div>
                    <div class="card-block">
                        <form method="post">
                            {% csrf_token %}

                            <div class="form-group {% if form.email.errors %}has-danger{% endif %}">
                                <input id="{{ form.email.id_for_label }}"
                                       name="{{ form.email.html_name }}"
                                       class="form-control"
                                       placeholder="Email"
                                       type="email"
                                       value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                                <div class="form-control-feedback">{{ form.email.errors }}</div>
                                {% if form.email.help_text %}
                                    <small class="form-text text-muted">{{ form.email.help_text|safe }}</small>
                                {% endif %}
                            </div>

                            <button class="btn" type="submit">Сбросить пароль</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}