{% extends "base_regular.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="modal-title">
                            Введите новый пароль
                        </h4>
                    </div>
                    <div class="card-block">
                        <form method="post">
                            {% csrf_token %}

                            <div class="form-group {% if form.new_password1.errors %}has-danger{% endif %}">
                                <input id="{{ form.new_password1.id_for_label }}"
                                       name="{{ form.new_password1.html_name }}"
                                       class="form-control"
                                       placeholder="Новый пароль"
                                       type="password"
                                       value="{% if form.new_password1.value %}{{ form.new_password1.value }}{% endif %}">
                                <div class="form-control-feedback">{{ form.new_password1.errors }}</div>
                                {% if form.new_password1.help_text %}
                                    <small class="form-text text-muted">{{ form.new_password1.help_text|safe }}</small>
                                {% endif %}
                            </div>

                            <div class="form-group {% if form.new_password2.errors %}has-danger{% endif %}">
                                <input id="{{ form.new_password2.id_for_label }}"
                                       name="{{ form.new_password2.html_name }}"
                                       class="form-control"
                                       placeholder="Подтвердите пароль"
                                       type="password"
                                       value="{% if form.new_password2.value %}{{ form.new_password2.value }}{% endif %}">
                                <div class="form-control-feedback">{{ form.new_password2.errors }}</div>
                                {% if form.new_password2.help_text %}
                                    <small class="form-text text-muted">{{ form.new_password2.help_text|safe }}</small>
                                {% endif %}
                            </div>

                            <button class="btn" type="submit">Изменить пароль</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}