{% extends "base_regular.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <p class="lead">
                                    Личная информация
                                    {% if user.profile.is_complete %}
                                        <span class="badge badge-success">Активирован</span>
                                    {% else %}
                                        <span class="badge badge-danger">Не активирован</span>
                                    {% endif %}
                                </p>

                                <div class="form-group {% if profile_form.avatar.errors %}has-danger{% endif %}">
                                    <label class="form-control-label" for="{{ profile_form.avatar.id_for_label }}">
                                        <small>
                                            {{ profile_form.avatar.label }}
                                        </small>
                                    </label>
                                    <br>
                                    {% if user.profile.avatar %}
                                        <img src="{{ user.profile.avatar.url }}" alt="" class="img-thumbnail avatar">
                                    {% endif %}

                                    <label class="custom-file">
                                        <input type="file"
                                               accept="image"
                                               class="custom-file-input"
                                               id="{{ profile_form.avatar.id_for_label }}"
                                               name="{{ profile_form.avatar.html_name }}">
                                        <span class="custom-file-control"
                                              data-content="{% if user.profile.avatar %}{{ user.profile.avatar }}{% else %}Загрузите фотографию{% endif %}"></span>
                                    </label>

                                    <script>
                                        $('body').on('change', 'input[type="file"]', function (ev) {
                                            value = $('#id_avatar').val();
                                            splitvalue = value.split("\\");
                                            name = splitvalue[splitvalue.length-1];

                                            $('.custom-file-control').attr('data-content', name);
                                        });
                                    </script>

                                    <style>
                                        .avatar {
                                            max-height: 200px;
                                        }
                                        .custom-file {
                                            width:100%;
                                        }
                                        .custom-file-control {
                                            overflow: hidden;
                                        }
                                        .custom-file-control::after {
                                            content: attr(data-content) !important;
                                            white-space: nowrap;  }
                                        .custom-file-control::before{
                                            content: "{% if user.profile.avatar %}Сменить аватар...{% else %}Выбрать...{% endif %}";
                                        }
                                    </style>

                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">
                                        <small>
                                             Никнейм
                                        </small>
                                    </label>
                                    <input class="form-control"
                                           type="text"
                                           value="{% if user.username %}{{ user.username }}{% endif %}"
                                           readonly>
                                </div>

                                <div class="form-group {% if user_form.first_name.errors %}has-danger{% endif %}">
                                    <label class="form-control-label" for="{{ user_form.first_name.id_for_label }}">
                                        <small>
                                            {{ user_form.first_name.label }}
                                        </small>
                                    </label>
                                    <input id="{{ user_form.first_name.id_for_label }}"
                                           name="{{ user_form.first_name.html_name }}"
                                           class="form-control"
                                           placeholder="Имя"
                                           type="text"
                                           value="{% if user_form.first_name.value %}{{ user_form.first_name.value }}{% endif %}">
                                    {% if user_form.first_name.errors %}
                                        <div class="form-control-feedback">
                                            {% for error in user_form.first_name.errors %}
                                                <p>{{ error|escape }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if user_form.first_name.help_text %}
                                        <small class="form-text text-muted">{{ user_form.first_name.help_text|safe }}</small>
                                    {% endif %}
                                </div>

                                <div class="form-group {% if user_form.last_name.errors %}has-danger{% endif %}">
                                    <label class="form-control-label" for="{{ user_form.last_name.id_for_label }}">
                                        <small>
                                            {{ user_form.last_name.label }}
                                        </small>
                                    </label>
                                    <input id="{{ user_form.last_name.id_for_label }}"
                                           name="{{ user_form.last_name.html_name }}"
                                           class="form-control"
                                           placeholder="Фамилия"
                                           type="text"
                                           value="{% if user_form.last_name.value %}{{ user_form.last_name.value }}{% endif %}">
                                    {% if user_form.last_name.errors %}
                                        <div class="form-control-feedback">
                                            {% for error in user_form.last_name.errors %}
                                                <p>{{ error|escape }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if user_form.last_name.help_text %}
                                        <small class="form-text text-muted">{{ user_form.last_name.help_text|safe }}</small>
                                    {% endif %}
                                </div>

                                <div class="form-group {% if user_form.email.errors %}has-danger{% endif %} {% if not profile_form.email_confirmed.value or not user_form.email.value %}has-warning{% endif %}">
                                    <label class="form-control-label" for="{{ user_form.email.id_for_label }}">
                                        <small>
                                            {{ user_form.email.label }}
                                        </small>
                                    </label>
                                    <input id="{{ user_form.email.id_for_label }}"
                                           name="{{ user_form.email.html_name }}"
                                           class="form-control {% if not profile_form.email_confirmed.value or not user_form.email.value %}form-control-warning{% endif %}"
                                           placeholder="Email"
                                           type="email"
                                           value="{% if user_form.email.value %}{{ user_form.email.value }}{% endif %}">
                                    {% if not user_form.email.value %}
                                        <div class="form-control-feedback">
                                            Укажите актуальный почтовый адрес
                                        </div>
                                    {% elif not profile_form.email_confirmed.value %}
                                        <div class="form-control-feedback">
                                            <a class="text-muted text-truncate" href="{% url 'users:send_activation' %}">
                                                <u>Подтвердите</u>
                                            </a>
                                            &nbsp;свой почтовый адрес
                                        </div>
                                    {% endif %}
                                    {% if user_form.email.errors %}
                                        <div class="form-control-feedback">
                                            {% for error in user_form.email.errors %}
                                                <p>{{ error|escape }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if user_form.email.help_text %}
                                        <small class="form-text text-muted">{{ user_form.email.help_text|safe }}</small>
                                    {% endif %}
                                </div>

                                {{ profile_form.email_confirmed.as_hidden }}

                                <div class="form-group {% if profile_form.birth_date.errors %}has-danger{% endif %}">
                                    <label class="form-control-label" for="{{ profile_form.birth_date.id_for_label }}">
                                        <small>
                                            {{ profile_form.birth_date.label }}
                                        </small>
                                    </label>
                                    <input id="{{ profile_form.birth_date.id_for_label }}"
                                           name="{{ profile_form.birth_date.html_name }}"
                                           class="form-control"
                                           placeholder="Дата рождения"
                                           type="email"
                                           value="{% if profile_form.birth_date.value %}{{ profile_form.birth_date.value|date:"d.m.Y" }}{% endif %}">
                                    {% if profile_form.birth_date.errors %}
                                        <div class="form-control-feedback">
                                            {% for error in profile_form.birth_date.errors %}
                                                <p>{{ error|escape }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if profile_form.birth_date.help_text %}
                                        <small class="form-text text-muted">{{ profile_form.birth_date.help_text|safe }}</small>
                                    {% endif %}
                                </div>

                                <button class="btn" type="submit">Сохранить изменения</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <p class="lead">Интеграция с сайтами</p>
                            {% if vk_social_auth %}
                                <p>
                                    <img src="{% static 'images/icons/social/vk.png' %}" width="32"/> (id{{ vk_social_auth.uid }})
                                    <a href="{% url 'users:social_auth_delete' 'vk' %}">Отключить</a>
                                </p>
                            {% else %}
                                <p>
                                    <img src="{% static 'images/icons/social/vk.png' %}" width="32"/>
                                    <a href="{% url 'users:social_auth_begin' 'vk' %}">Прикрепить</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>

                    <br>

                    <div class="card">
                        <div class="card-block">
                            <form method="post" action="{% url 'users:change_password' %}">
                                {% csrf_token %}
                                <p class="lead">Смена пароля</p>

                                <div class="form-group {% if password_set_form.new_password1.errors %}has-danger{% endif %} {% if not user.has_usable_password %}has-warning{% endif %}">
                                    <label class="form-control-label" for="{{ password_set_form.new_password1.id_for_label }}">
                                        <small>
                                            {{ password_set_form.new_password1.label }}
                                        </small>
                                    </label>
                                    <input id="{{ password_set_form.new_password1.id_for_label }}"
                                           name="{{ password_set_form.new_password1.html_name }}"
                                           class="form-control {% if not user.has_usable_password %}form-control-warning{% endif %}"
                                           placeholder="Новый пароль"
                                           type="password"
                                           value="{% if password_set_form.new_password1.value %}{{ password_set_form.new_password1.value }}{% endif %}">
                                    {% if not user.has_usable_password %}
                                        <div class="form-control-feedback">Задайте пароль для своего аккаунта для активации</div>
                                    {% endif %}
                                    {% if password_set_form.new_password1.errors %}
                                        <div class="form-control-feedback">
                                            {% for error in password_set_form.new_password1.errors %}
                                                <p>{{ error|escape }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if password_set_form.new_password1.help_text %}
                                        <small class="form-text text-muted">{{ password_set_form.new_password1.help_text|safe }}</small>
                                    {% endif %}
                                </div>

                                <div class="form-group {% if password_set_form.new_password2.errors %}has-danger{% endif %}">
                                    <label class="form-control-label" for="{{ password_set_form.new_password2.id_for_label }}">
                                        <small>
                                            {{ password_set_form.new_password2.label }}
                                        </small>
                                    </label>
                                    <input id="{{ password_set_form.new_password2.id_for_label }}"
                                           name="{{ password_set_form.new_password2.html_name }}"
                                           class="form-control"
                                           placeholder="Подтверждение нового пароля"
                                           type="password"
                                           value="{% if password_set_form.new_password2.value %}{{ password_set_form.new_password2.value }}{% endif %}">
                                    {% if password_set_form.new_password2.errors %}
                                        <div class="form-control-feedback">
                                            {% for error in password_set_form.new_password2.errors %}
                                                <p>{{ error|escape }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if password_set_form.new_password2.help_text %}
                                        <small class="form-text text-muted">{{ password_set_form.new_password2.help_text|safe }}</small>
                                    {% endif %}
                                </div>

                                <button class="btn" type="submit">Сохранить изменения</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}