{% extends "base_regular.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        {% if instance.profile.avatar %}
                            <img src="{{ instance.profile.avatar.url }}" alt="" class="card-img-top img-fluid">
                        {% elif instance.profile.avatar_url %}
                            <img src="{{ instance.profile.avatar_url }}" alt="" class="card-img-top img-fluid">
                        {% else %}
                            <img src="https://dummyimage.com/400x400/000/fff.png&text=No avatar" alt=""
                                 class="card-img-top">
                        {% endif %}
                        <h3 class="pt-2">{{ instance.get_full_name }}</h3>
                        <p>{{ instance.username }}</p>
                        {% for social_auth in instance.profile.social_auths %}
                            {% if social_auth.provider == 'vk' %}
                                <a href="https://vk.com/id{{ social_auth.uid }}" target="_blank">
                                    <img src="{% static 'images/icons/social/vk.png' %}" width="32"/>
                                </a>
                            {% elif social_auth.provider == 'fb' %}
                                <a href="https://www.facebook.com/{{ social_auth.uid }}" target="_blank">
                                    <img src="{% static 'images/icons/social/facebook.png' %}" width="32"/>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-block">
                        Other stuff
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}