{% extends "base_regular.html" %}
{% load staticfiles %}
{% load form_extras %}

{% block extra_styles %}
    {# For datepicker #}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
    <h1>Настройки профиля</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <p class="lead">
                            Личная информация
                            {% if user.profile.is_complete %}
                                <span class="badge badge-success align-baseline">Активирован</span>
                            {% else %}
                                <span class="badge badge-warning align-baseline">Не активирован</span>
                            {% endif %}
                        </p>

                        {# TODO: user type badge #}

                        {% avatar_input field=profile_form.avatar user=user %}

                        <div class="form-group">
                            <label class="form-control-label">
                                <small>
                                     Никнейм
                                </small>
                            </label>
                            <input class="form-control" type="text"
                                   value="{% if user.username %}{{ user.username }}{% endif %}"
                                   readonly>
                        </div>

                        {{ user_form.username.as_hidden }}

                        {% text_input field=user_form.first_name placeholder='Имя' %}

                        {% text_input field=user_form.last_name placeholder='Фамилия' %}

                        <div class="form-group {% if user_form.email.errors %}has-danger{% endif %} {% if not profile_form.email_confirmed.value or not user_form.email.value %}has-warning{% endif %}">
                            <label class="form-control-label" for="{{ user_form.email.id_for_label }}">
                                <small>
                                    {{ user_form.email.label }}
                                </small>
                            </label>
                            <input id="{{ user_form.email.id_for_label }}"
                                   name="{{ user_form.email.html_name }}"
                                   class="form-control {% if not profile_form.email_confirmed.value or not user_form.email.value %}form-control-warning{% endif %}"
                                   placeholder="Email"
                                   type="email"
                                   value="{% if user_form.email.value %}{{ user_form.email.value }}{% endif %}">
                            {% if not user_form.email.value %}
                                <div class="form-control-feedback">
                                    Укажите актуальный почтовый адрес
                                </div>
                            {% elif not profile_form.email_confirmed.value %}
                                <div class="form-control-feedback">
                                    <a class="text-muted text-truncate" href="{% url 'users:send_activation' %}">
                                        <u>Подтвердите</u>
                                    </a>
                                    &nbsp;свой почтовый адрес
                                </div>
                            {% endif %}
                            {% if user_form.email.errors %}
                                <div class="form-control-feedback">
                                    {% for error in user_form.email.errors %}
                                        <p>{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if user_form.email.help_text %}
                                <small class="form-text text-muted">{{ user_form.email.help_text|safe }}</small>
                            {% endif %}
                        </div>

                        {{ profile_form.email_confirmed.as_hidden }}

                        {% date_input field=profile_form.birth_date placeholder='Дата рождения' %}

                        {% text_input field=profile_form.phone placeholder='Контактный телефон' %}

                        <button class="btn btn-outline-primary" type="submit">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <p class="lead">Интеграция с сайтами</p>
                    {% if vk_social_auth %}
                        <p>
                            <a href="https://vk.com/id{{ vk_social_auth.uid }}" target="_blank">
                                <img src="{% static 'images/icons/social/vk.png' %}" width="32"/>
                            </a>
                            <a href="{% url 'users:social_auth_deassociate' 'vk' %}">
                                Отключить
                            </a>
                        </p>
                    {% else %}
                        <p>
                            <img src="{% static 'images/icons/social/vk.png' %}" width="32"/>
                            <a href="{% url 'users:social_auth_begin' 'vk' %}">Прикрепить</a>
                        </p>
                    {% endif %}

                    {% if fb_social_auth %}
                        <a href="https://www.facebook.com/{{ fb_social_auth.uid }}" target="_blank">
                            <img src="{% static 'images/icons/social/facebook.png' %}" width="32"/>
                        </a>
                        <a href="{% url 'users:social_auth_deassociate' 'fb' %}">
                            Отключить
                        </a>
                    {% else %}
                        <img src="{% static 'images/icons/social/facebook.png' %}" width="32"/>
                        <a href="{% url 'users:social_auth_begin' 'fb' %}">Прикрепить</a>
                    {% endif %}
                </div>
            </div>

            <br>

            <div class="card">
                <div class="card-block">
                    <form method="post" action="{% url 'users:change_password' %}">
                        {% csrf_token %}
                        <p class="lead">Смена пароля</p>

                        {% text_input field=password_set_form.new_password1 placeholder='Новый пароль' type='password' %}

                        {% text_input field=password_set_form.new_password2 placeholder='Подтверждение нового пароля' type='password' %}

                        <button class="btn btn-outline-primary" type="submit">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}