{% extends "base_regular.html" %}
{% load staticfiles %}
{% load form_extras %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="modal-title">
                            Регистрация
                        </h4>
                    </div>
                    <div class="card-block">
                        <form method="post">
                            {% csrf_token %}

                            {% text_input field=form.email placeholder='Email' no_label=True %}

                            <hr>

                            {% text_input field=form.password1 placeholder='Пароль' type='password' no_label=True %}
                            {% text_input field=form.password2 placeholder='Пароль еще раз' type='password' no_label=True %}

                            <button class="btn btn-outline-primary" type="submit">Sign up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}