{% load globaltags %}

<div id="loginModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Авторизация</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        {% url 'login_view' as login_url %}
                        <form action="{{ login_url }}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="">Email</label>
                                <input class="form-control" type="email" name="email" placeholder="Email"/>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="">Пароль</label>
                                <input class="form-control" type="password" name="password" placeholder="Пароль"/>
                            </div>
                            <button class="btn btn-default" type="submit">Войти</button>
                        </form>
                    </div>
                    <div class="col-6">
                        {% url 'login_view' as login_url %}
                        <a class="btn btn-primary btn-block" href="{% vk_auth_link login_url %}">VK</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'resetpass_view' %}">Забыли пароль?</a>
                    </div>
                    <div class="col-6 text-right">
                        <a href="{% url 'reg_view' %}">Я не зарегистрирован</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>