{% load staticfiles %}

{% block nav %}

    <nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" class="d-inline-block align-top" alt="brand" height="30">
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.first_name %}
                                {{ user.get_full_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Моя страница</a>
                            <a class="dropdown-item" href="{% url 'users:profile' %}">Настройки</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'auth:logout' %}?next={% url 'pages:index' %}">Выйти</a>
                            {% if user.is_staff %}
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin">Админка</a>
                                <a class="dropdown-item" href="{% url 'pages:styleguide' %}">Styleguide</a>
                                <a class="dropdown-item" href="{% url 'pages:email_styleguide' %}">Email Styleguide</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'nodes:graph' %}">Graph</a>
                                <a class="dropdown-item" href="{% url 'lms:groups' %}">Мои группы</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auth:logout' %}?next={% url 'pages:index' %}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:signup' %}">Зарегистрироваться</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

{% endblock %}