{% load staticfiles %}

{% block nav %}

    <nav class="navbar fixed-top navbar-toggleable navbar-light bg-faded">
        <a class="navbar-brand" href="/">
            <img class="hidden-xs-down" src="{% static 'images/logo.png' %}" alt="brand" height="30">
            <img class="hidden-sm-up" src="{% static 'images/logo.png' %}" alt="brand" height="20">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand">+7 (343) 288 52 76</a>
                </li>
            </ul>
        </div>
    </nav>

{% endblock %}