{% load globaltags %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Привет! Это проект Физикум</p>

{% if messages %}
    {% for message in messages %}
        <div class="alert">
            <strong>Упс! &nbsp;{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}

<p>
    <a href="/admin">Админка</a>
</p>
{% if is_logged_in %}
<p>Current user: {{ current_user }}</p>
<p>
    <a href="/logout">Выйти</a>
</p>
{% else %}
<p>
    {% url 'login_view' as login_url %}
    <a href="{% vkontakte_auth_link login_url %}">Войти через Вконтакте</a>
</p>
{% endif %}
</body>
</html>