{% extends "base.html" %}
{% load globaltags %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Привет, салаги!</h1>

        <p class="lead">Время учиться и думать головой! Гамарджоба, жи есть!</p>
        <hr class="m-y-2">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Узнайте больше</a>
        </p>
    </div>
{% endblock %}