{% extends "base_regular.html" %}
{% load globaltags %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="modal-title">Авторизация</h4>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-12">
                            {% include "./components/messages.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="sr-only" for="">Email</label>
                                    <input class="form-control" type="email" name="email" placeholder="Email"/>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="">Пароль</label>
                                    <input class="form-control" type="password" name="password" placeholder="Пароль"/>
                                </div>
                                <button class="btn btn-default" type="submit">Войти</button>
                            </form>
                        </div>
                        <div class="col-6">
                            {% url 'login_view' as login_url %}
                            <a class="btn btn-primary btn-block" href="{% vk_auth_link login_url %}">VK</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'resetpass_view' %}">Забыли пароль?</a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="{% url 'reg_view' %}">Я не зарегистрирован</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block messages %}
{% endblock %}