{% extends 'base.html' %}

{% load globaltags %}

{% block messages %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h3>Редактирование профиля</h3>
                    <br/>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'info' %}
                                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <script type="text/javascript">
                            setInterval(function(){$(".alert").alert('close')}, 5000);
                        </script>
                    {% endif %}
                    <form method="post" action="{% url 'user_update_view' %}" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit" name="saveinfo">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h3>Социальные сети</h3>
                    <br/>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'integration' %}
                                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <script type="text/javascript">
                            setInterval(function(){$(".alert").alert('close')}, 5000);
                        </script>
                    {% endif %}

                    {% if current_user.vkuserid %}
                    <p>
                        <a href="{% vkontakte_profile_link user.vkuserid %}" target="_blank">
                            Профиль VK
                        </a>
                        &nbsp;
                        &nbsp;
                        <a href="{% url 'unsetvkid' %}">Открепить профиль</a>
                    </p>
                    {% else %}
                        {% url 'user_update_view' as update_url %}
                        <p>
                            <a href="{% vkontakte_auth_link update_url %}">+ связать свой аккаунт с вконтакте</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h3>Сменить пароль</h3>
                    <br/>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'changepass' %}
                                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <script type="text/javascript">
                            setInterval(function(){$(".alert").alert('close')}, 5000);
                        </script>
                    {% endif %}

                    <form method="post" action="{% url 'user_changepass_view' %}" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{ pass_form.as_p }}
                        <button class="btn btn-primary" type="submit" name="changepass">Изменить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}