{% extends "base_regular.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'lms:groups' %}">Мои группы</a></li>
                <li class="breadcrumb-item active">{{ group }}</li>
            </ol>

            <div class="card">
                <div class="card-block">
                    <h1>{{ group }}</h1>
                    <p>{{ group.about }}</p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseNewGroup" aria-expanded="true" aria-controls="collapseNewGroup">
                        Редактировать описание группы
                    </a>
                    <div class="collapse" id="collapseNewGroup" aria-expanded="false" style="">
                        <br>
                        <div class="card card-outline-primary">
                            <div class="card-block">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button class="btn" type="submit">Сохранить изменения</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p class="lead">Список учащихся</p>
                    <form method="post" action="{% url 'lms:student_group_change' group.pk %}">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        <div class="list-group">
                            {% for form in formset.forms %}
                                <li class="list-group-item list-group-item-action">
                                    {# TODO: student href #}
                                    <a>{{ form }}</a>
                                </li>
                            {% endfor %}
                        </div>
                        <br>
                        <button class="btn" type="submit">Сохранить список</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}