{% extends "base_regular.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'lms:groups' %}">Мои группы</a></li>
                <li class="breadcrumb-item active">{{ group }}</li>
            </ol>

            <div class="card">
                <div class="card-block">
                    <h1>{{ group }}</h1>
                    <p>{{ group.about }}</p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseNewGroup" aria-expanded="true" aria-controls="collapseNewGroup">
                        Редактировать группу
                    </a>
                    <div class="collapse" id="collapseNewGroup" aria-expanded="false" style="">
                        <br>
                        <div class="card card-outline-primary">
                            <div class="card-block">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button class="btn" type="submit">Сохранить изменения</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}