{% extends 'teaching/block_base.html' %}
{% load globaltags %}

{% block block-content %}

    <p class="lead">Тестовый вопрос #{{ choice_block.id }}</p>
    <p>{{ choice_block.question_text|markdown_rendered|safe }}</p>
    {% if choice_block.image %}
        <p class="text-xs-center">
            <img src="{{ choice_block.image.url }}">
        </p>
    {% endif %}
    <hr/>
    <form id="exerciseFrom" method="post" action="">
        {% csrf_token %}
        {% for option in choice_block_options %}
            <div class="checkbox {% if option.id in correct_choices%}has-success{% endif %} {% if option.id in false_choices%}has-danger{% endif %} {% if option.id in false_not_choices%}has-warning{% endif %}">
                <label class="form-check-label" for="">
                    <input type="checkbox" name="choices" value="{{ option.id }}" {% if option.id in correct_choices or option.id in false_choices %}checked{% endif %} {% if is_answered %}disabled{% endif %}/>
                    {{ option.option_text }}
                    {% if option.option_image %}
                        <img src="{{ option.option_image.url }}">
                    {% endif %}
                    {% if option.id in correct_choices %}
                        {% if option.option_image %}(Правильно!){% endif %}{% if option.help_text %}({{ option.help_text }}){% endif %}
                    {% elif option.id in false_choices %}
                        (Ошибочный выбор) {% if option.help_text %}({{ option.help_text }}){% endif %}
                    {% elif option.id in false_not_choices %}
                        (Верный ответ) {% if option.help_text %}({{ option.help_text }}){% endif %}
                    {% endif %}
                </label>
            </div>
        {% endfor %}
        <hr/>
        {% if is_answered %}
            {% if last_block %}
                {% if test %}
                    <a href="{% url 'test_final_view' test.id %}" class="btn btn-primary btn-lg">Конец теста</a>
                {% elif lesson %}
                    <a href="{% url 'lesson_final_view' lesson.id %}" class="btn btn-primary btn-lg">Закончить урок</a>
                {% endif %}
            {% else %}
                {% if test %}
                    <a href="{% url 'test_block_view' test.id next_block_num %}" class="btn btn-primary">Следующий вопрос ></a>
                {% elif lesson %}
                    <a href="{% url 'lesson_block_view' lesson.id next_block_num %}" class="btn btn-primary btn-lg">Следующий блок ></a>
                {% else %}
                    <a href="{% url 'block_view' choicequestion.id|add:"1" %}">Следующий блок</a>
                    <br>
                    <a href="http://quant.zone/admin/teaching/choicequestion/{{ choicequestion.pk }}/change/">Редактировать</a>
                {% endif %}
            {% endif %}
        {% else %}
            <button class="btn btn-warning" type="submit">Ответить</button>
        {% endif %}
    </form>

{% endblock %}