{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Мои группы</li>
        </ol>
        {% for group in groups %}
            <div class="card">
                <div class="card-block">
                    <a href="{% url 'group_view' group.pk %}">
                        <h2>{{ group.title }}</h2>
                    </a>
                    Преподаватель: <a href="{% url 'user_view' group.teacher.id %}">{{ group.teacher }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}