{% extends 'base.html' %}
{% load lessontags %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'groups_view' %}">Мои группы</a></li>
                <li class="breadcrumb-item active">{{ group.title }}</li>
            </ol>

            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-9">
                        <h1>{{ group.title }}</h1>
                        <p>Преподаватель: <a href="{% url 'user_view' 1 %}">{{ group.teacher }}</a></p>
                        <p>Предмет: {{ group.subject }}</p>
                        <p>Учеников: {{ group.studentgroups|length }}</p>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block">
                                <h4>Рейтинг учеников</h4>
                                <ol>
                                    <li>Вася Пупкин</li>
                                    <li>Вася Пупкин</li>
                                    <li>Вася Пупкин</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="accordion" aria-multiselectable="true">
                {% for grouplesson in group.grouplessons %}
                    <div class="card">
                        {% studentgrouplesson current_user grouplesson as studentlesson %}
                        {% if not grouplesson.is_next and grouplesson.time_status == 'WILL BE' %}
                            <div class="card-header" role="tab">
                                <a>
                                    <span class="text-muted">
                                        Урок {{ forloop.counter }}. {{ grouplesson.lesson.title }}. {{ grouplesson.datetime }}
                                    </span>
                                </a>
                            </div>
                        {% else %}
                            <div class="card-header" role="tab">
                                {% if not grouplesson.is_next and grouplesson.time_status == 'WILL BE' %}
                                    <a>Урок {{ forloop.counter }}. {{ grouplesson.lesson.title }}. {{ grouplesson.datetime }}</a>
                                {% else %}
                                    <a data-toggle="collapse" href="#collapse{{ grouplesson.lesson.pk }}"
                                       aria-expanded="true" aria-controls="collapse{{ grouplesson.lesson.pk }}">
                                        Урок {{ forloop.counter }}. {{ grouplesson.lesson.title }}. {{ grouplesson.datetime }}
                                        {% if grouplesson.is_next and not studentlesson.is_finished %}
                                            &nbsp;
                                            <span class="tag tag-success">Следующее занятие</span>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                            <div id="collapse{{ grouplesson.lesson.pk }}"
                                 class="card-collapse collapse {% if grouplesson.is_next and not studentlesson.is_finished %}in{% endif %} {% if grouplesson.time_status == 'WAS' and not studentlesson.own_score %}in{% endif %}"
                                 role="tabpanel">
                                <div class="card-block">
                                    {% if studentlesson.is_finished %}
                                        <a>Домашняя работа выполнена | Ваш результат: {{ studentlesson.score }}
                                            из {{ studentlesson.max_score }}
                                            ({% widthratio studentlesson.score studentlesson.max_score 100 %}%)</a>
                                        {% if studentlesson.teacher_score %}
                                            <br>
                                            <a>Оценка за работу в классе | {{ studentlesson.teacher_score }}%</a>
                                        {% endif %}
                                        {% if studentlesson.own_score %}
                                            <br>
                                            <a>Ваша самооценка за занятие | {{ studentlesson.own_score }}%</a>
                                        {% endif %}
                                        {% if studentlesson.has_perm %}
                                            <br>
                                            <a class="btn btn-secondary"
                                               href="{% url 'lesson_view' grouplesson.lesson.pk %}" target="_blank">Повторить
                                                домашку</a>
                                        {% endif %}
                                        {% if grouplesson.time_status == 'WAS' and studentlesson.is_visited and not studentlesson.own_score %}
                                            <hr>
                                            <form action="">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="form-group">
                                                            <label>Выберите, во сколько вы оцениваете свою работу в классе сегодня</label>
                                                            <select class="form-control studentgrouplesson-action" id="own-{{ studentlesson.id }}">
                                                                <option value="20">20%</option>
                                                                <option value="40">40%</option>
                                                                <option value="60">60%</option>
                                                                <option value="80">80%</option>
                                                                <option value="100">100%</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        {% endif %}
                                    {% elif studentlesson.has_perm %}
                                        <a class="btn btn-secondary"
                                           href="{% url 'lesson_view' grouplesson.lesson.pk %}" target="_blank">Приступить
                                            к домашке</a>
                                    {% else %}
                                        У вас нет доступа к уроку
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.studentgrouplesson-action').change(function() {
                console.log('action');
                var arr = $(this).attr("id").split('-');
                var action = arr[0], studentgrouplesson_id = arr[1];

                var value = $(this).val();

                $.ajax({
                    url: '{% url "studentgrouplesson_action" %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        studentgrouplesson_id: studentgrouplesson_id,
                        action: action,
                        value: value
                    },
                    async: true,
                    success: function (responseData, textStatus) {

                    },
                    error: function (response, status, errorThrown) {
                        alert('Все плохо, расскажите нам про эту ошибку \n\r\n\r' + response + status + errorThrown);
                    },
                    type: "POST",
                    dataType: "text"
                });
            });
        });
    </script>

{% endblock %}