{% extends 'base_regular.html' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'groups_view' %}">Мои группы</a></li>
                <li class="breadcrumb-item"><a href="{% url 'group_view' group.id %}">{{ group.title }}</a></li>
                <li class="breadcrumb-item active">{{ lesson.title }}</li>
            </ol>
            <h2>{{ lesson.title }}</h2>
        </div>
    </div>

{% endblock %}