{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Мои группы</li>
        </ol>
        {% for studentgroup in studentgroups %}
            <div class="card">
                <div class="card-block">
                    <a href="{% url 'group_view' studentgroup.group.pk %}">
                        <h2>{{ studentgroup.group.title }}</h2>
                    </a>
                    Преподаватель: <a href="{% url 'user_view' studentgroup.group.teacher.id %}">{{ studentgroup.group.teacher }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}