{% extends 'base_regular.html' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-block">
                    <h2>{{ lesson.title }}</h2>
                    <p>Всего блоков в занятии: {{ lesson.lessonblocks|length }}</p>
                    <p class="lead">{{ lesson.rendered_about }}</p>
                    <a href="{% url 'lesson_block_view' lesson.pk 1 %}" class="btn btn-primary btn-lg">Начать</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}