{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-block">
                <p class="lead">Урок #{{ lesson.id }}</p>

                <p class="lead">Результат: {{ summ }} из {{ max_summ }} ({% widthratio summ max_summ 100 %}%)</p>
                <h1>Молоток, теперь можешь отдохнуть</h1>
{#                TODO: ссылка на мои задания#}
            </div>
        </div>
    </div>
</div>

{% endblock %}