{% extends 'base_regular.html' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            <div class="card">
                <div class="card-block">
                    <h2>{{ lesson.title }}</h2>
                    <p>Всего блоков в занятии: {{ lesson.lessonblocks|length }}</p>
                    <hr>
                    {{ lesson.rendered_about|safe }}
                    <hr>
                    <a href="{% url 'lesson_block_view' lesson.pk 1 %}" class="btn btn-primary btn-lg">Начать</a>
                    {% if current_user.is_teacher %}
                        <hr>
                        <p>Задать как домашку</p>
                        <div class="form-group">
                            <label>Выберите ученика</label>
                            <select class="form-control" id="student_id">
                                {% for studentteacher in studentteachers %}
                                    <option value="{{ studentteacher.student.id }}">{{ studentteacher.student }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Дней на выполнение задания</label>
                            <select class="form-control" id="days">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6" selected>6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <a id="homework" class="btn btn-primary">Задать домашку</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#homework').click(function() {
                var lesson_id = '{{ lesson.pk }}';
                var student_id = $("#student_id").val();
                var days = $("#days").val();
                console.log(lesson_id);
                console.log(student_id);
                console.log(days);

                $.ajax({
                    url: '{% url "lessontask_create" %}',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        lesson_id: lesson_id,
                        student_id: student_id,
                        days: days
                    },
                    async: true,
                    success: function (responseData, textStatus) {
                        alert('ОК');
                    },
                    error: function (response, status, errorThrown) {
                        alert('Все плохо, расскажите нам про эту ошибку \n\r\n\r' + response + status + errorThrown);
                    },
                    type: "POST",
                    dataType: "text"
                });
            });
        });
    </script>

{% endblock %}