{% extends 'base_regular.html' %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Мои задания</li>
        </ol>
        {% for task in tasks %}
            <div class="card">
                <div class="card-block">
                    <a href="{% url 'lesson_view' task.lesson.pk %}">
                        <h2>{{ task.lesson }}</h2>
                    </a>
                    <a>Выполнить до: {{ task.datetime_to }}</a>
                </div>
            </div>
        {% endfor %}
        {% if tasks.count == 0 %}
            <div class="card">
                <div class="card-block">
                    <a>У вас нет заданий, отдыхайте =)</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}