{% extends 'base_regular.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <p class="lead">Тест #{{ test.id }}</p>

                <p class="lead">Результат: {{ summ }} из {{ max_summ }} ({% widthratio summ max_summ 100 %}%)</p>
                {% for result in results %}
                    <p><a href="{% url 'block_view' result.block.id %}">Вопрос #{{ result.block.id }}</a> | {{ result.score }}/{{ result.max_score }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}