{% extends 'base_regular.html' %}
{% load django_markdown %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            {% include "components/blocks/progressbar.html" %}
            <div class="card">
                <div class="card-block">
                    <h1 class="hidden-sm-down">{{ textblock.title }}</h1>
                    <h1 class="hidden-sm-up h2">{{ textblock.title }}</h1>
                    <hr>
                    <div class="paragraph-body">{{ textblock.rendered_content|safe }}</div>
                    <hr>
                    <div id="buttons">
                        <button id="read-action" class="btn btn-primary">Я прочитал</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% if lesson %}
            $(document).ready(function() {
                $('#read-action').click(function() {

                    {% if last_block %}
                        var tpl = '<a href="{% url 'lesson_final_view' lesson.id %}" class="btn btn-primary btn-lg">Закончить урок</a>';
                    {% elif next_block_num %}
                        var tpl = '<a href="{% url 'lesson_block_view' lesson.id next_block_num %}" class="btn btn-primary btn-lg">Следующий блок ></a>';
                    {% endif %}

                    $.ajax({
                        url: '{% url "lesson_block_view" lesson.pk block_num %}',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            action: 'read'
                        },
                        async: true,
                        success: function (responseData, textStatus) {
                            $('#buttons').fadeOut('slow', function () {
                                $('#buttons').replaceWith(tpl);
                            });
                        },
                        error: function (response, status, errorThrown) {
                            alert('Все плохо, расскажите нам про эту ошибку \n\r\n\r' + response + status + errorThrown);
                        },
                        type: "POST",
                        dataType: "text"
                    });
                });
            });
        {% endif %}
    </script>

{% endblock %}