{% extends 'base.html' %}
{% load django_markdown %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-block">
                    {% if is_answered %}
                        {% if last_block %}
                            {% if lesson %}
                                <a href="{% url 'lesson_final_view' lesson.id %}" class="btn btn-primary btn-lg">Конец урока</a>
                            {% endif %}
                        {% else %}
                            {% if lesson %}
                                <a href="{% url 'lesson_block_view' lesson.id next_block_num %}" class="btn btn-primary btn-lg">Следующий блок в уроке</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <h1 class="display-4">{{ textblock.title }}</h1>
                    <br/>
                    <div class="paragraph-body">{{ textblock.rendered_content|safe }}</div>
                    <hr>
                    {% if not is_answered %}
                        <form id="textForm" method="post" action="">
                            {% csrf_token %}
                            <button class="btn btn-warning btn-lg" type="submit">Я прочитал</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}