{% load staticfiles %}

{% block nav %}

    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" alt="brand" height="30">
        </a>
        <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
            <br class="hidden-sm-up">
            <br class="hidden-sm-up">
            <ul class="nav navbar-nav">
                {% if current_user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                {% endif %}
                {% if current_user.is_teacher %}
                    <li class="nav-item">
                        <a class="nav-link" href="/cabinet">Cabinet</a>
                    </li>
                {% endif %}
                {% if current_user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_view' %}">
                            Мои задания
                            {% if glob_tasks %}
                                <span class="tag tag-default tag-pill">{{ glob_tasks|length }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_view' current_user.id %}">{{ current_user.get_full_name }}</a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'logout_view' %}" method="post">
                            {#FIXME style inline#}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link" style="line-height: 1.5em; padding-left: 0; padding-right: 0; padding-bottom:0">Выйти</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/reg">Зарегистрироваться</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

{% endblock %}