lp_1.htmllass="row">
            <div class="col-md-12">
                <br>
                <h2 class="page-header">Как мы работаем?</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="text-xs-center">
                    <img src="{% static 'images/icons/landing/intense.png' %}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Интенсивность</h4>
                        <p class="card-text">Наши программы повышают эффективность обучения</p>
                        <br class="hidden-sm-up">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="text-xs-center">
                    <img src="{% static 'images/icons/landing/cost.png' %}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Стоимость</h4>
                        <p class="card-text">Фиксированная ставка <br> 400 руб. в час</p>
                        <p class="card-text">На любой курс</p>
                        <br class="hidden-sm-up">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="text-xs-center">
                    <img src="{% static 'images/icons/landing/interactivity.png' %}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Интерактивность</h4>
                        <p class="card-text">Поддерживаем обучение при помощи информационных технологий</p>
                        <br class="hidden-sm-up">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="text-xs-center">
                    <img src="{% static 'images/icons/landing/chat.png' %}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Открытость</h4>
                        <p class="card-text">Всегда находимся в активном контакте как с учениками, так и с родителями</p>
                        <br class="hidden-sm-up">
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="text-xs-center">
                    <h2 class="h1 hidden-sm-down">Мы переворачиваем обучение!</h2>
                    <h2 class="h3 hidden-md-up">Мы переворачиваем обучение!</h2>
                    <p>Выберите интересующий курс и свяжитесь с нами</p>
                    <p class="display-2 hidden-md-down">+7 (343) 288 52 76</p>
                    <p class="display-4 hidden-lg-up hidden-sm-down">+7 (343) 288 52 76</p>
                    <p class="lead hidden-lg-up hidden-md-up">+7 (343) 288 52 76</p>
                </div>
            </div>
        </div>

        <br>
    </div>

{% endblock %}